<form method="post" action="https://weightless.so/api/lists/m85jjk1i/subscribe">
  <div class="fullname_m85jjk1i">
    <style media="screen">
      .fullname_m85jjk1i {
        position: absolute !important;
        top: -9999px;
        left: -9999px;
      }
    </style>
    <label for="subscription_fullname">Full name (If you are a human, ignore this field)</label>
    <input id="subscription_fullname" type="text" name="subscription[fullname]" />
  </div>
	<div class="form-group">
    <input 
      type="email" 
      name="subscription[email]" 
      class="form-control" 
      placeholder="Enter your email" 
      required
    >
  </div>
  <button type="submit" class="btn btn-primary btn-block mt-1">
    Subscribe
  </button>
</form>

