<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div>
    <div class="sidebar-section">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7773502228833240"
            crossorigin="anonymous"></script>
        <!-- Trevelr Blog Sidebar -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-7773502228833240"
            data-ad-slot="6220704040"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>